#BDC-impo,
#event,
#pics-previous,
#Spons,
#contact {
    padding-top: 3%;
    padding-bottom: 3%;
    background: linear-gradient(to right, #854040, #cb4848, #854040);
}

.heading {
    text-align: center;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 2%;
    color: wheat;
    font-size: min(10.5vw, 7vh);
}

.rds {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.uds {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/*landing-page*/
#landing {
    width: 100%;
    height: 120vh;
    background-image: url("./land.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#landing .clip p {
    text-align: center;
    position: absolute;
    bottom: 2vh;
    left: 46%;
    transform: translateX(-50%);
}

@media only screen and (max-width:767px) {
    #landing .clip p {
        bottom: 12vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #landing .clip p {
        bottom: 16vh;
    }
}

#landing .styled-button {
    position: relative;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to bottom, #171717, #242424);
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #292929;
    height: 40px;
    width: 85%;
}

#landing .styled-button::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: linear-gradient(to bottom, #292929, #000000);
    z-index: -1;
    border-radius: 9999px;
    transition: all 0.2s ease;
    opacity: 1;
}

#landing .styled-button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1), 0 5px 10px rgba(0, 0, 0, 0.4);
}

#landing .styled-button .inner-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #171717, #242424);
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border: 1px solid #252525;
    transition: all 0.2s ease;
}

#landing .styled-button .inner-button::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: linear-gradient(to bottom, #292929, #000000);
    z-index: -1;
    border-radius: 9999px;
    transition: all 0.2s ease;
    opacity: 1;
}

#landing .styled-button .inner-button .icon {
    filter: drop-shadow(0 10px 20px rgba(26, 25, 25, 0.9)) drop-shadow(0 0 4px rgba(0, 0, 0, 1));
    transition: all 0.4s ease-in-out;
}

#landing .styled-button .inner-button .icon:hover {
    filter: drop-shadow(0 10px 20px rgba(50, 50, 50, 1)) drop-shadow(0 0 20px rgba(2, 2, 2, 1));
    transform: rotate(-35deg);
}


/*BDC Impo?*/
#BDC-impo .fields {
    width: 55vw;
    max-height: max-content;
    border-radius: 40px;
    font-size: max(1.75vh, 1.75vw);
    padding: 2%;
    margin: auto;
    position: relative;
    box-shadow: 0 0 30px black;
    text-align: justify;
    background-color: rgb(169, 61, 61);
    box-sizing: border-box;
    border: 4px solid #fff;
    animation: borderAnimation 2s infinite;
    transition: transform 1s ease-in-out;
    cursor: pointer;
    opacity: 0;
    transform: rotate(0deg);
    transition: opacity 0.3s ease-in-out, transform 1s ease-in-out;
}

#BDC-impo .fields p {
    position: relative;
    z-index: 3;
}

#BDC-impo .fields::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 1;
    pointer-events: none;
}

#BDC-impo .fields.clicked {
    transform: rotate(360deg);
    background-color: #fefae0;
}

#BDC-impo .fields.show-content {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

@keyframes borderAnimation {
    0% {
        border-color: #fff;
    }

    50% {
        border-color: #f06;
    }

    100% {
        border-color: #fff;
    }
}

@media only screen and (max-width:1100px) {
    #BDC-impo .fields {
        width: 90%;
    }
}

/*Event Description*/
#event {
    min-height: 40vh;
    max-height: fit-content;
}

#event h1 {
    font-size: 5.25vmin;
    text-align: center;
}

#event p {
    font-size: max(10pt, 3.5vmin);
    line-height: 1.4;
    color: #0e390e;
    margin-bottom: 1.5rem;
}

#event .wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 95vmin;
    height: 80vmin;
    margin: 2rem auto;
    border: 8px solid;
    transition: 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

#event .overlay {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem 0.75rem;
    background: beige;
    transition: 0.4s ease-in-out;
    z-index: 1;
}

#event .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vmin;
    height: 100%;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: 3px solid;
    border-image: linear-gradient(to bottom,
            black 5%,
            black 35% 65%,
            black 95%) 0 0 0 100%;
    transition: 0.3s ease-in-out 0.2s;
    z-index: 2;
}

#event .image-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("./bg.jpg");
    background-size: cover;
    transition: 0.3s ease-in-out;
}

#event .inset {
    max-width: 50%;
    margin: 0.25em 1em 1em 0;
    border-radius: 0.25em;
    float: left;
}

#event .dots {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 55px;
    height: 4vmin;
    transition: 0.3s ease-in-out 0.3s;
}

#event .dot {
    width: 14px;
    height: 14px;
    background: red;
    border: 1px solid indigo;
    border-radius: 50%;
    transition: 0.3s ease-in-out 0.3s;
}

#event .text {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    padding: 3vmin 4vmin;
    background: #fefae0;
    box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
    overflow-y: scroll;
}

#event .text .btn .button {
    width: 140px;
    height: 45px;
    border-radius: 30em;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    cursor: pointer;
    z-index: 1;
    background: #ff135a;
    border: 3px solid black;
    transition: 0.6s ease-in;
    z-index: 0;
}

#event .text .button:hover {
    background: #fff;
}

#event .text .button .two {
    display: none;
}

#event .text .button::before {
    content: "";
    width: 0;
    height: 50px;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #854040, #cb4848, #854040);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
}

#event .text .button:hover::before {
    width: 140px;
    transition: 3s linear;
}

#event .text .button:hover .one {
    display: none;
}

#event .text .button:hover .two {
    display: inline;
}

#event .wrap:hover .overlay {
    transform: translateX(-60vmin);
}

#event .wrap:hover .image-content {
    width: 30vmin;
}

#event .wrap:hover .overlay-content {
    border: none;
    transition-delay: 0.2s;
    transform: translateX(60vmin);
    color: white;
}

#event .wrap:hover .overlay-content p {
    color: white;
}

#event .wrap:hover .dots {
    transform: translateX(1rem);
}

#event .wrap:hover .dots .dot {
    background: white;
}

#event .animate {
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
}

.pop {
    animation-name: pop;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.slide {
    animation-name: slide;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(4em, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.slide-left {
    animation-name: slide-left;
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translate(-40px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.slide-up {
    animation-name: slide-up;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(3em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.delay-1 {
    animation-delay: 0.3s;
}

.delay-2 {
    animation-delay: 0.6s;
}

.delay-3 {
    animation-delay: 0.9s;
}

.delay-4 {
    animation-delay: 1.2s;
}

.delay-5 {
    animation-delay: 1.5s;
}

.delay-6 {
    animation-delay: 1.8s;
}

.delay-7 {
    animation-delay: 2.1s;
}

.delay-8 {
    animation-delay: 2.4s;
}

/*previous year*/
#pics-previous .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

#pics-previous .card {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#pics-previous .card img {
    width: 100%;
    border-radius: 18px 18px 0 0;
    object-fit: cover;
    height: 300px;
}

@media (max-width: 768px) {
    #pics-previous .card-container {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    #pics-previous .card {
        scroll-snap-align: start;
        flex: 0 0 auto;
    }
}

/*spons section*/
#Spons img {
    width: 45vw;
    height: auto;
}

@media only screen and (max-width:823px) {
    #Spons img {
        margin-top: 2%;
        width: 50vw;
        height: auto;
    }
}

/*contact section*/
#contact .people {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#contact .reach .set {
    display: flex;
    flex-direction: row;
}

#contact .reach .set svg {
    margin-right: 6%;
    margin-top: 1.5%;
}

#contact .name {
    font-size: 1.6em;
}

.set a {
    text-decoration: none;
    font-size: 1.5em;
}

@media only screen and (max-width:767px) {
    .set a {
        font-size: 1em;
    }

    #contact .name {
        font-size: 1.2em;
    }
}

@media only screen and (max-width:600px) {
    #contact .people {
        flex-direction: column;
        gap: 5%;
    }

    #pics-previous .card {
        width: 100%;
    }

}

/*Social Media*/
#contact a {
    text-decoration: none;
    color: white;
}

#contact .ani {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7%;
    margin-bottom: 3%;
}

#contact .ani .each-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

#contact .logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .carda {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-top: 1%;
    gap: 3%;
}

#contact .carda svg {
    width: 50%;
    height: 100%;
    font-size: 24px;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}

.carda .social-link2,
.carda .social-link3,
.carda .social-link4,
.carda .social-link5 {
    text-decoration: none;
    transition: 0.25s;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #0a9396;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



#contact .carda svg {
    transform: scale(1);
}

#contact .carda .social-link2:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
}

#contact .carda .social-link3:hover {
    background-color: #0059f7;
    animation: bounce_613 0.4s linear;
}

#contact .carda .social-link4:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    animation: bounce_613 0.4s linear;
}

#contact .carda .social-link5:hover {
    background-color: #000;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width:823px) {

    #contact .carda .social-link2,
    #contact .carda .social-link3,
    #contact .carda .social-link4,
    #contact .carda .social-link5 {
        width: 30px;
        height: 30px;
    }

}